# Visual Studio
.vs/
*.user
*.suo
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.iobj
*.ipdb
*.iobj
*.tlog

# Build folders
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio Code
.vscode/

# Other
*.db
*.log
*.tmp
*.bak
Thumbs.db
